.footer {
  font-family: Poppins;
  width: 100%;
  background-color: #1c1e53;
  font-size: 2.4rem;
  justify-content: center;
  color: #fff;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 140rem;
  margin: 0 auto;
  gap: 5.8rem;
}

.join {
  padding: 3.4rem 3.4rem 0 3.4rem;
}

.contactContainer {
  background-color: #fcd980;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin: 3.8rem 2.4rem 0 2.4rem;
  gap: 3.8rem;
  color: black;
  padding: 1.8rem 0 1.8rem 3.8rem;
}
.logo {
  /* color: #bbbbcb; */
  color: #fff;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem; /* 175% */
  margin-top: 1.8rem;
}
.description {
  font-size: 1.6rem;
  margin-top: 1.4rem;
  color: #f4f6fc;
}

.info {
  font-size: 1.8rem;
  font-family: Poppins;
  font-weight: 500;
}

.address {
  font-size: 1.6rem;
  color: #282938;
}

.submitTitle {
  font-size: 3.4rem;
  font-weight: 600;
}
.submitDescription {
  font-size: 1.6rem;
  color: #f4f6fc;
  margin-top: 1.2rem;
}
.icons {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.6rem;
}
.footerBottomContainer {
  background-color: #fff;
  font-size: 1.6rem;
}
.footerBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 137rem;
  margin: 0 auto;
  padding: 2rem;
  color: #282938;
}

.footerLinks {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 2rem;
}
.link {
  text-decoration: none;
  color: #0f0f0f;
}
.link.active {
  color: #f1e9e9;
}
@media screen and (max-width: 880px) {
  .contactContainer {
    gap: 1.8rem;
    color: black;
    padding: 0.8rem 0 0.8rem 1.8rem;
  }
  .container {
    gap: 1.8rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 780px) {
  /* .container {
        grid-template-columns: 1fr;
    } */

  .contactContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 590px) {
  .contactContainer {
    flex-direction: row;
  }
  .join {
    padding: 2.4rem;
  }
  .container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .submit {
    padding: 2.4rem;
  }
  .footerBottom {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .copyright {
    grid-row: 2;
    justify-self: center;
  }
  .footerLinks {
    flex-direction: column;
  }
}
@media screen and (max-width: 390px) {
  .contactContainer {
    flex-direction: column;
  }
}
